
#video-container {
  background-color: #272C34;
  margin: 0 auto;
  z-index: -1;

  vg-scrub-bar-current-time {
      .background {
          background-color: red;
      }
  }

  .hidden {
      display: none;
  }

  .show {
      display: block;
  }

  .video-controls {
      right: 0;
      left: 0;
      position: absolute;
      bottom: 0;
      transition: all 0.2s ease;
      background: rgba(0, 0, 0, 0.5);
      height: 45px;
  }

  .video-controls.hide {
      opacity: 0;
      pointer-events: none;
  }

  .video-progress {
      position: relative;
      height: 8.4px;
      align-items: right;

      #seek-tooltip {
          position: absolute;
      }

      /*Chrome*/
      @media screen and (-webkit-min-device-pixel-ratio:0) {
          input[type='range'] {
              overflow: hidden;
              -webkit-appearance: none;
              background-color: var(--youtube-red);
          }

          input[type='range']::-webkit-slider-runnable-track {
              height: 10px;
              -webkit-appearance: none;
              color: var(--youtube-red);
              margin-top: -1px;
          }

          input[type='range']::-webkit-slider-thumb {
              width: 10px;
              -webkit-appearance: none;
              height: 10px;
              cursor: ew-resize;
              background: var(--youtube-red);
          }
      }

      input[type="range"] {
          background-color: var(--youtube-red);
      }

      /** FF*/
      input[type="range"]::-moz-range-progress {
          background-color: var(--youtube-red);
      }

      input[type="range"]::-moz-range-track {
          background-color: var(--youtube-red);
      }

      /* IE*/
      input[type="range"]::-ms-fill-lower {
          background-color: var(--youtube-red);
      }

      input[type="range"]::-ms-fill-upper {
          background-color: var(--youtube-red);
      }
  }

  progress {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 2px;
      width: 100%;
      height: 0.5vh;
      pointer-events: none;
      position: absolute;
      top: 0;
  }

  .buttons {
      .video-control {
          background: none;
          border: #fff 2px solid;
          border-radius: 16px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 32px;
          height: 32px;
          color: white;

          i {
              line-height: 16px;
              color: white;
          }
      }

      .video-control-paused {
          position: absolute;
          left: 1vw;
          bottom: 8px;
          z-index: 1000;
      }

      .video-control-muted {
          position: absolute;
          right: 5vw;
          bottom: 8px;
          z-index: 1000;
      }

      .video-control-maximized {
          position: absolute;
          right: 1vw;
          bottom: 8px;
          z-index: 1000;
      }
  }

  progress::-webkit-progress-bar {
      background-color: var(--youtube-red);
      border-radius: 2px;
  }

  progress::-webkit-progress-value {
      background: white;
      border-radius: 2px;
  }

  progress::-moz-progress-bar {
      border: 1px solid white;
      background: white;
  }

  .seek {
      position: absolute;
      top: 0;
      width: 100%;
      height: 0.5vh;
      cursor: pointer;
      margin: 0;
  }

  .seek-tooltip {
      display: block;
      position: absolute;
      top: 10px;
      margin-left: 5vw;
      font-size: 12px;
      padding: 3px;
      content: attr(data-title);
      font-weight: bold;
      color: #fff;
      background-color: var(--youtube-red);
  }
}

.playlist-item {
  li {
      color: white;
  }
}

.kt-content.kt-grid__item.kt-grid__item--fluid.kt-grid.kt-grid--hor {
  background-color: #272C34;
}

#kt_header_menu_wrapper {
  display: none;
}

.kt-header__bottom {
  display: none !important;
}

.player-wrapper {
  max-width: 500px;
  margin: auto;

  video {
      width: 100%;
  }
}

ul {
  padding: 0px;

  li.playlist-item {
      padding: 10px;
      list-style: none;
      background: #673AB7;
      margin-bottom: 2px;
      cursor: pointer;
  }

  li.playlist-item.selected {
      background-color: #ccc;
  }
}

// Premium
body {
  background-color: #F2F2F2;
  font-family: 'Roboto', "OpenSans", "Verdana", Georgia, Serif;
}

#msg {
  font-weight: normal;
  font-size: 90%;
  margin-left: 200px;
  color: #fff;
  display: none;
  transition: opacity 0 2s;
  -webkit-transition: opacity 0 2s;
  /* Safari */
}

#top_header_bar {
  width: 100%;
  height: 10px;
  background-image: url('/assets/imagefiles/header_bg-top.png');
  background-repeat: repeat-x;
  margin: 0px;
}

#top_header {
  float: left;
  width: 100%;
  height: 71px;
  background-image: url('/assets/imagefiles/header_bg.png');
  background-repeat: repeat-x;
  margin: 0px;
  z-index: 1000;
}

#footer {
  float: left;
  width: 100%;
  height: 81px;
  background-image: url('/assets/imagefiles/footer_bg.png');
  background-repeat: repeat-x;
  margin: 0px;
}

#copyright {
  float: left;
  width: 300px;
  margin: 10px;
  font-size: 13px;
  color: #fff;
}

#footer_content {
  float: left;
  width: 400px;
  margin: 10px;
  font-size: 13px;
  color: #fff;
}

#footer_content_link {
  color: #fff;
}

#footer_language {
  float: right;
  width: 200px;
  margin: 10px;
  font-size: 13px;
  color: #fff;
}

#logo {
  float: left;
  width: 201px;
  height: 71px;
  background-image: url('/assets/imagefiles/logo.png');
  margin: 10px 25px 0px 25px;
}

.header_tab {
  float: left;
  height: 31px;
  margin-top: 10px;
  padding: 20px;
  font-family: "Roboto", "OpenSans";
  font-weight: bold;
  font-size: 20px;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
}

#title_text {
  width: 100%;
  text-align: center;
}

#main_video {
  float: left;
  width: 100%;
}

#video_image {
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 0px;
  width: 100%;
  height: 536px;
}

#video_image_overlay {
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  height: 540px;
  background: linear-gradient(to top,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0) 72%,
    rgba(0, 0, 0, 0) 100%);
  z-index: 0;
  position: absolute;
  display: none;
}

#media_info {
  display: block;
  clear: both;
  float: left;
  width: 100%;
  height: 116px;
  padding: 10px;
  opacity: 0.9;
  background-color: #DDE0E5;
  color: #000;
  margin-top: 10px;
}

#media_title {
  float: left;
  margin: 0px 10px 0px 0px;
  padding: 0px;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Roboto', "Open Sans", "Verdana", Georgia, Serif;
}

#media_subtitle {
  float: left;
  margin: 13px 0px 0px 30px;
  padding: 0px;
  font-size: 18px;
  font-family: 'Roboto', "Open Sans", "Verdana", Georgia, Serif;
}

#media_desc {
  float: left;
  width: 100%;
  margin: 5px;
  font-size: 12px;
  font-family: 'Roboto', "Open Sans", "Verdana", Georgia, Serif;
}

#media_control {
  position: absolute;
  top: 595px;
  width: 100%;
  height: 60px;
  z-index: 1000;
  padding: 0px;
  opacity: 0.7;
  background-color: #000;
  font-family: 'Roboto', "Open Sans", "Verdana", Georgia, Serif;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  /* Safari */
}

#media_control:hover {
  opacity: 0.7;
}

#play {
  margin: 10px 20px 10px 10px;
  float: left;
  width: 65px;
  height: 40px;
  background-image: url('/assets/imagefiles/play.png');
}

#play:hover {
  background-image: url('/assets/imagefiles/play-hover.png');
}

#play:press {
  background-image: url('/assets/imagefiles/play-press.png');
}

#pause {
  display: none;
  margin: 10px 20px 10px 10px;
  float: left;
  width: 65px;
  height: 40px;
  background-image: url('/assets/imagefiles/pause.png');
}

#pause:hover {
  background-image: url('/assets/imagefiles/pause-hover.png');
}

.button {
  margin: 5px;
  font-size: 100%;
  font-family: 'Roboto', "Open Sans", "Verdana", Georgia, Serif;
}

.volume {
  width: 60px;
  margin-left: 8px;
}

#muteText {
  width: 30px;
  margin-left: 3px;
}

.muteButton {
  font-size: 110%;
  font-family: 'Roboto', "Open Sans", "Verdana", Georgia, Serif;
}

.imageIcon {
  padding: 3px 0px 0px 0px;
  width: 25px;
}

#progress {
  margin: 20px 0px 10px -620px;
  cursor: pointer;
  float: left;
  width: 1px;
  height: 36px;
  z-index: 10;
  background-image: url('/assets/imagefiles/timeline_bg_progress.png');
  background-repeat: repeat-x;
}

#progress_indicator {
  cursor: pointer;
  margin: 20px 0px 10px -620px;
  float: left;
  width: 6px;
  height: 36px;
  z-index: 1000;
  background-image: url('/assets/imagefiles/timeline_indicator.png');
  background-repeat: repeat-x;
}

#progress_bg {
  margin: 20px 20px 10px 0px;
  cursor: pointer;
  float: left;
  width: 600px;
  height: 36px;
  background-image: url('/assets/imagefiles/timeline_bg_track.png');
  background-repeat: repeat-x;
}

#castbutton {
  float: right;
  margin: 10px 6px 14px 0px;
  width: 40px;
  height: 32px;
  opacity: 0.7;
  background-color: #000;
  border: none;
  outline: none;
}

#castbutton:hover {
  --disconnected-color: white;
  --connected-color: white;
}

#audio_off {
  float: right;
  margin:10px 4px 10px 0px;
  width: 32px;
  height: 32px;
  display: none;
  background-image: url('/assets/imagefiles/audio_off.png');
}

#audio_on {
  float: right;
  width: 32px;
  height: 32px;
  margin: 10px 4px 10px 0px;
  display: block;
  background-image: url('/assets/imagefiles/audio_on.png');
}

#audio_bg {
  float: right;
  opacity: 0.1;
  width: 41px;
  height: 124px;
  margin: -115px 8px -10px 0px;
  display: block;
  background-image: url('/assets/imagefiles/audio_bg.png');
  position: relative;
  z-index: 10;
}

#audio_bg_track {
  float: right;
  opacity: 0.0;
  width: 16px;
  height: 100px;
  margin: -100px 20px -30px 0px;
  display: block;
  background-image: url('/assets/imagefiles/audio_bg_track.png');
  position: relative;
  z-index: 1000;
}

#audio_indicator {
  float: right;
  opacity: 0.0;
  width: 16px;
  height: 5px;
  margin:-50px 20px -30px 0px;
  display: none;
  background-image: url('/assets/imagefiles/audio_indicator.png');
  position: relative;
  z-index: 1000;
}

#audio_bg_level {
  float: right;
  opacity: 0.0;
  width: 16px;
  height: 50px;
  margin: -50px 20px -30px 0px;
  display: block;
  background-image: url('/assets/imagefiles/audio_bg_level.png');
  position: relative;
  z-index: 1000;
}

#fullscreen_expand {
  float:right;
  width: 32px;
  height: 32px;
  margin: 10px 20px 10px 0px;
  display: block;
  background-image: url('/assets/imagefiles/fullscreen_expand.png');
  cursor: pointer;
}

#fullscreen_collapse {
  float:right;
  width: 32px;
  height: 32px;
  margin: 10px 20px 10px 0px;
  display: none;
  background-image: url('/assets/imagefiles/fullscreen_collapse.png');
  cursor: pointer;
}

#duration {
  float:right;
  color: #fff;
  width: 60px;
  height: 32px;
  margin: 18px 15px 10px 15px;
  display: block;
}

div.imageSub { position: relative; }
div.imageSub img { z-index: 1; }
div.imageSub div {
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: 0px;
  padding: 0px;
}

div.imageSub div.blackbg {
  z-index: 2000;
  bottom: 60px;
  left: 300px;
  width: 400px;
  height: 30px;
  color: #000;
  background-color: #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
  font-size: 120%;
  display: none;
  padding: 10px;
}

div.imageSub div.label {
  z-index: 3000;
  bottom: 60px;
  left: 300px;
  width: 400px;
  height: 30px;
  color: white;
  font-size: 120%;
  display: none;
  padding: 10px;
}

#carousel {
  width: 990px;
  margin: 20px 10px 10px 40px;
}

.thumb {
  float: left;
  margin: 10px 10px 10px 0px;
  cursor: pointer;
}

.thumbnail {
  margin-right: 10px;
  width: 225px;
  height: 127px;
}

.vertical {
  -webkit-transform: rotate(90deg);
}
